.header{
    background-color: var(--headerBg);
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 78px;
}

.header > h1 {
    font-size: 22px;
    font-weight: bolder;
}