@import url('./header.css');
@import url('./content.css');
@import url('./panel.css');

:root{
    --bg:#33B667;
    --color:#FFFFFF;
    --borderColor:#DDDDDD;
}

* {
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
}

body{
    width:100vw;
}