.header-container{
    background-color: var(--headerBg);
    height: 76px;
    display: flex;
    flex-direction: column;
    color: var(--headerCollor);
    align-items: center;
    justify-content: center;
}

.header-container > h1 {
    font-size: 22px;
}